.check {
    padding-top: 121px;
    margin-bottom: 118px;
    margin-bottom: 123px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .check-title {
            margin-bottom: 36px;
            &__title {
               color: #353637;
               font-family: var(--primary-font); 
               font-weight: 400;
               font-size: 45px;
               margin-bottom: 20px;
               text-align: center;
            }
            &__subtitle {
                color: #959595;
                font-family: var(--secondary-font);
                font-weight: 400;
                font-size: 18px;
                text-align: center;
            }
        }
        .check-input {
            display: flex;
            width: 100%;
            &__logo {
                position: relative;
                max-width: 100%;
                width: 637px;
                height: 523px;
                background-color: #B1BED0;
                border-top-left-radius: 6px;
                img {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 100%;
                }
            }
            &__content {
                border-top-right-radius: 6px;
                background-color: #F6FCFA;
                // background-color: #7ad1b4;
                width: 463px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 77px 68px;
                div:nth-child(-n+3) {
                    label,
                    input {
                        display: block;
                        margin: 0 0 23px 0;
                    }
                    label {
                        color: #222426;
                        font-family: var(--primary-font);
                        font-weight: 400;
                        font-size: 14px;
                        text-transform: uppercase;
                        margin-bottom: 16px;
                    }
                    input,
                    select {
                        margin: 0 0 23px 0;
                        max-width: 339px;
                        width: 339px;
                        height: 50px;
                        border: 1px solid #ABABAB;
                        padding: 12px 14px;
                        font-family: var(--primary-font);
                        font-weight: 400;
                        font-size: 16px;
                        color: #636461;
                        option {
                            border-radius: 0px;
                        }
                    }
                }
                div:nth-child(4) {
                    button {
                        width: 339px;
                        height: 50px;
                        border: 1px solid #596B86;
                        text-align: center;
                        text-transform: uppercase;
                        color: #222426;
                        font-family: var(--primary-font);
                        font-weight: 400;
                        font-size: 14px;
                    }
                }
                    .modal {
                        display: none;
                        position: fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.7);
                        justify-content: center;
                        align-items: center;
                        z-index: 999;

                    }

                    .modal-content {
                        background-color: white;
                        padding: 20px;
                        border-radius: 5px;
                        text-align: center;
                        max-width: 800px;
                        min-width: 120px;
                        min-height: 600px;
                        margin-top: 120px !important;
                        margin: 0 auto;
                    }
            }
        }
        @media (max-width: 767px) {
            .check-input {
                flex-direction: column;
                align-items: center;
                .check-input__logo {
                    border-top-right-radius: 6px;
                }
                .check-input__content {
                    max-width: 637px;
                    width: 100%;
                    min-height: 100%;
                    div:nth-child(-n+3) {
                        input,
                        select {
                            max-width: none;
                            width: 100%;
                        }
                    }
                    div:nth-child(4) {
                        button { 
                            width: 100%;
                        }
                    }    
                }
            }
        }
    }    
}