.count {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    &__item {
        margin: 5px 10px;
        width: 240px;
        height: 92px;
        text-align: center;
        position: relative;
        span {
            color: #596B86;
            font-family: var(--primary-font);
            font-weight: 700;
            font-size: 50px;
        }
        p {
            color: #939393;
            font-family: var(--secondary-font);
            font-weight: 400;
            font-size: 18px;
        }
    }
    &__item:nth-child(-n+3)::after {
        position: absolute;
        top: 20px;
        right: 0px;
        content: "";
        display: block;
        background-image: url('../img/afterLine.png');
        background-size: cover;
        background-repeat: no-repeat;
        width: 2px;
        height: 54px;
        margin-top: 10px;
    } 
    
    @media screen and (max-width: 1059px) {
        .count__item:nth-child(3)::after {
            display: none;
        }
    }
    @media screen and (max-width: 799px) and (min-width: 768px) {
        .count__item:nth-child(3)::after,
        .count__item:nth-child(4)::after {
            display: block;
        }
    }
    @media screen and (max-width: 768px) {
        .count__item {
            width: 50%;
        }
        .count__item::after {
            display: none;
        }
    }

    @media screen and (max-width: 480px) {
        .count__item {
            width: 100%;
        }
    }
}
.count-section {
    margin-bottom: 126px;
}