.popular {
    margin-bottom: 123px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .popular-title {
            margin-bottom: 36px;
            &__title {
               color: #353637;
               font-family: var(--primary-font); 
               font-weight: 400;
               font-size: 45px;
               margin-bottom: 20px;
               text-align: center;
            }
            &__subtitle {
                color: #959595;
                font-family: var(--secondary-font);
                font-weight: 400;
                font-size: 18px;
                text-align: center;
            }
        }
        .popular-cards {
            cursor: pointer;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            &__card {
                max-width: 350px;
                border: 1px solid #596B86;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
            }
            &__content {
                padding: 20px;
            }
            &__title {
                color: #131313;
                font-family: var(--primary-font);
                font-weight: 400;
                font-size: 24px;
                margin-bottom: 12px;
            }
            &__subtitle {
                margin-bottom: 8px;
                span::before {
                    content: "";
                    background-size: cover;
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    margin-right: 5px;
                }
                span:nth-child(1)::before {
                    background-image: url('../img/ico/qm.png');
                }
                span:nth-child(2)::before {
                    background-image: url('../img/ico/Bed.png');
                    margin-left: 10px;
                }
                span:nth-child(3)::before {
                    background-image: url('../img/ico/Bathroom.png');
                    margin-left: 10px;
                }
                span {
                    color: #727272;
                    font-family: var(--primary-font);
                    font-weight: 300;
                    font-size: 12px;
                }
            }
            &__price {
                font-family: var(--primary-font);
                span {
                    color: #384D6C;
                    font-weight: 600;
                    font-size: 30px;
                }
                span::after {
                    content: '/ Night';
                    color: #585858;
                    font-weight: 400;
                    font-size: 18px;
                    margin-left: 5px;
                }
            }
        }
        @media screen and (max-width: 1050px) {
            .popular-cards {
                justify-content: space-around;
                &__card {   
                    margin-bottom: 15px;
                }
            }
        }          
    }
}